/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    margin: 2rem 0;
    font-size: 2rem;
}

#conteo-votos {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#conteo-votos h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#conteo-votos p {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

button {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    background-color: #f2f2f2;
    padding: 1rem 0;
}
